.ladder-area{

background:#08111d;

border:1px solid #22354b;

border-radius:18px;

padding:20px;

min-height:600px;

overflow:auto;

}

.rung{

display:flex;
align-items:center;

gap:10px;

margin-bottom:40px;

}

.rail{

width:6px;
height:60px;

background:#00ff99;

}

.line{

height:2px;

background:#00ff99;

flex:1;

}

.contact,
.coil,
.timer{

padding:12px 14px;

border:2px solid #00ff99;

min-width:120px;

text-align:center;

background:#132033;

font-family:monospace;

}

.powered{

background:rgba(0,255,153,.2);

box-shadow:
0 0 20px rgba(0,255,153,.5);

}
