.ladder{

background:#08111b;

border:1px solid var(--line);

border-radius:15px;

padding:20px;

overflow:auto;

min-height:450px;

}

.rung{

display:flex;
align-items:center;
gap:10px;

margin-bottom:35px;

font-family:monospace;

}

.contact,
.coil,
.timer{

padding:12px 14px;

border:2px solid var(--green);

min-width:130px;

text-align:center;

cursor:pointer;

user-select:none;

}

.line{

flex:1;

height:2px;

background:var(--green);

}

.active{

background:rgba(0,255,153,.1);

box-shadow:0 0 20px rgba(0,255,153,.4);

}