.motor{

width:320px;
height:180px;

background:
linear-gradient(
145deg,
#8c98a7,
#5f6c7b,
#3d4752
);

border-radius:30px;

border:6px solid #7f8c99;

position:relative;

overflow:hidden;

box-shadow:
0 15px 40px rgba(0,0,0,.5);

}

.motor::before{

content:"";

position:absolute;

width:100%;
height:100%;

background:
repeating-linear-gradient(
90deg,
transparent 0px,
transparent 15px,
rgba(255,255,255,.08) 15px,
rgba(255,255,255,.08) 17px
);

}

.fan{

position:absolute;

width:90px;
height:90px;

border-radius:50%;

border:7px solid #d0d7df;

left:20px;
top:42px;

animation:spin .25s linear infinite;
animation-play-state:paused;

}

@keyframes spin{

100%{
transform:rotate(360deg);
}

}
