.tank-wrap{

display:flex;
justify-content:center;
align-items:center;
gap:50px;

}

.tank{

width:180px;
height:350px;

border:5px solid #718198;

border-radius:0 0 25px 25px;

position:relative;

overflow:hidden;

background:#08111b;

}

.water{

position:absolute;

bottom:0;

width:100%;

height:0%;

background:
linear-gradient(
180deg,
#00d0ff,
#004dff
);

transition:.2s;

}

.water::before{

content:"";

position:absolute;

width:200%;
height:20px;

background:rgba(255,255,255,.2);

animation:wave 2s linear infinite;

}

@keyframes wave{

0%{
left:-100%;
}

100%{
left:100%;
}

}